body{
    min-height:100vh;
    background: linear-gradient(50deg, blue 60%, orange 40%);
}
header{
    background-color: #4caf50;
    color: white;
    padding: 20px;
    text-align: center;
}
header nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}
header nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
header nav ul li a:hover{
    text-decoration: underline;
}
.card{
    margin-left: 10px;
    background: #ccccff;
    padding: 20px;
    width: 280px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .15);
    transition: 2s;
    margin-top: 5%;
}
.card:hover{
    margin-left: 10px;
    background: #ccffff;
    padding: 20px;
    width: 280px;
    height: 380px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .15); 
}
.avatar{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}
.discription{
    color: #555;
    font-size: 14px;
    margin-bottom: 20px;
}
.btn{
    background: #0078ff;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}
.btn:focus{
    background: #0078ff;
    color: white;
    border: none;
    padding: 20px 18px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}
.btn:hover{
    background: #005fcc;
}


.kontener{
    display: flex;
    justify-content: space-around;  
}
@media (min-width: 100px) and (max-width: 500px){
.kontener{
    width: 400px;
    height: 400px;   
    
}
}
